<dx-popup
  [width]="widthsSpan.width"
  height="auto"
  maxHeight="98%"
  title="Grupo"
  [showTitle]="true"
  position="center"
  [dragEnabled]="false"
  [showCloseButton]="true"
  [closeOnOutsideClick]="false"
  [(visible)]="popupVisible"
>
  <div>
    <dx-form [formData]="formGroup" labelLocation="top">
      <dxi-item
        dataField="name"
        [label]="{ text: 'Nombre' }"
        [editorOptions]="{ maxLength: 50 }"
      >
        <dxi-validation-rule
          type="required"
          message="* Campo requerido"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="permissions"
        [label]="{ text: 'Permisos' }"
        [editorOptions]="{ maxLength: 50 }"
        template="Permissions"
      >
        <dxi-validation-rule type="required" message="* Campo requerido">
        </dxi-validation-rule>
      </dxi-item>

      <div *dxTemplate="let data of 'Permissions'">
        <dx-data-grid
          keyExpr="id"
          [dataSource]="dataGridConf.dataSource"
          [columns]="dataGridConf.columns"
          [(selectedRowKeys)]="formGroup.permissions"
          [showBorders]="true"
          [remoteOperations]="false"
          [allowColumnReordering]="true"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [columnResizingMode]="'widget'"
          [columnAutoWidth]="true"
          [paging]="dataGridConf.paging"
          [pager]="dataGridConf.pager"
          [searchPanel]="dataGridConf.searchPanel"
          [headerFilter]="dataGridConf.headerFilter"
          [selection]="dataGridConf.selection"
        >
        </dx-data-grid>
      </div>
    </dx-form>
    <div class="card-flex-box">
      <dx-button
        style="margin: 0 0 0 2rem"
        type="success"
        [text]="formGroup.id ? 'Actualizar' : 'Guardar'"
        (onClick)="save()"
      ></dx-button>
    </div>
  </div>
</dx-popup>
