<dx-data-grid
  id="gridContainer"
  [dataSource]="dataGridConf.dataSource"
  [columns]="dataGridConf.columns"
  [cacheEnabled]="false"
  [allowColumnReordering]="false"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [wordWrapEnabled]="false"
  [paging]="dataGridConf.paging"
  [pager]="dataGridConf.pager"
  [searchPanel]="dataGridConf.searchPanel"
  [headerFilter]="dataGridConf.headerFilter"
  [columnResizingMode]="dataGridConf.columnResizingMode"
  [filterPanel]="dataGridConf.filterPanel"
  [groupPanel]="dataGridConf.groupPanel"
  [grouping]="dataGridConf.grouping"
  [filterRow]="dataGridConf.filterRow"
  [editing]="dataGridConf.editing"
  [selection]="dataGridConf.selection"
  [summary]="dataGridConf.summary"
  [columnChooser]="dataGridConf.columnChooser"
  (onToolbarPreparing)="onToolbarPreparing($event)"
  (onEditingStart)="onEditingStart($event)"
  (onInitialized)="onInitialized($event)"
  (onInitNewRow)="onInitNewRow($event)"
  (onRowUpdating)="onRowUpdating($event)"
>
  <div *dxTemplate="let cellInfo of 'materialTemplate'">
    <dx-select-box
      [dataSource]="materialsByUser"
      [value]="cellInfo.value"
      displayExpr="serial_or_name"
      valueExpr="id"
      [searchEnabled]="true"
      [showClearButton]="true"
      (onSelectionChanged)="onMaterialByUserChanged($event, cellInfo)"
    ></dx-select-box>
  </div>
</dx-data-grid>
