<dx-popup
  [width]="widthsSpan.width"
  height="auto"
  maxHeight="98%"
  title="Status"
  [showTitle]="true"
  position="center"
  [dragEnabled]="false"
  [showCloseButton]="true"
  [closeOnOutsideClick]="false"
  [(visible)]="popupVisible"
>
  <div>
    <dx-form [formData]="formStatus" labelLocation="top">
      <dxi-item
      dataField="status_name"
      [label]="{ text: 'Status' }"
      [editorOptions]="{ maxLength: 50 }"
    >
      <dxi-validation-rule
        type="required"
        message="* Campo Requerido"
      ></dxi-validation-rule>
    </dxi-item>

    <dxi-item
      dataField="module_name"
      [label]="{ text: 'Modulo' }"
      [editorOptions]="{ maxLength: 50 }"
    >
      <dxi-validation-rule
        type="required"
        message="* Campo requerido"
      ></dxi-validation-rule>
    </dxi-item>

    </dx-form>
    <div class="card-flex-box">
      <dx-button
        style="margin: 0 0 0 2rem"
        type="success"
        [text]="formStatus.id ? 'Actualizar' : 'Guardar'"
        (onClick)="save()"
      ></dx-button>
    </div>
  </div>
</dx-popup>
