<dx-popup
  [width]="widthsSpan.width"
  height="auto"
  maxHeight="98%"
  title="Materiales"
  [showTitle]="true"
  position="center"
  [dragEnabled]="true"
  [showCloseButton]="true"
  [closeOnOutsideClick]="false"
  [visible]="true"
  *ngIf="showOnPopup; else accordion"
>
  <ng-container *ngTemplateOutlet="datagrid"></ng-container>
</dx-popup>

<ng-template #accordion>
  <dx-accordion
    #accordion
    [width]="widthsSpan.width"
    [dataSource]="['Materiales']"
    [collapsible]="true"
    [multiple]="false"
    [animationDuration]="300"
    [selectedItems]="['Materiales']"
  >
    <div *dxTemplate="let tab of 'title'">
      <div class="header">{{ tab }}</div>
    </div>
    <div *dxTemplate="let tab of 'item'">
      <ng-container *ngTemplateOutlet="datagrid"></ng-container>
    </div>
  </dx-accordion>
</ng-template>
<ng-template #datagrid>
  <dx-data-grid
    id="gridContainer"
    [dataSource]="dataGridConf.dataSource"
    [columns]="dataGridConf.columns"
    [cacheEnabled]="false"
    [allowColumnReordering]="false"
    [showBorders]="true"
    [allowColumnResizing]="false"
    [columnAutoWidth]="true"
    [wordWrapEnabled]="false"
    [remoteOperations]="dataGridConf.remoteOperations"
    [paging]="dataGridConf.paging"
    [pager]="dataGridConf.pager"
    [searchPanel]="dataGridConf.searchPanel"
    [headerFilter]="dataGridConf.headerFilter"
    [filterPanel]="dataGridConf.filterPanel"
    [groupPanel]="dataGridConf.groupPanel"
    [grouping]="dataGridConf.grouping"
    [filterRow]="dataGridConf.filterRow"
    [editing]="dataGridConf.editing"
    [selection]="dataGridConf.selection"
    [summary]="dataGridConf.summary"
    [columnChooser]="dataGridConf.columnChooser"
    (onToolbarPreparing)="onToolbarPreparing($event)"
    (onEditingStart)="onEditingStart($event)"
    (onInitialized)="onInitialized($event)"
  >
  </dx-data-grid>
</ng-template>

<ng-template #lazyContainer></ng-template>
