<dx-popup
  [width]="widthsSpan.width"
  height="auto"
  title="Ubicación"
  [showTitle]="true"
  position="center"
  [dragEnabled]="true"
  [showCloseButton]="true"
  [closeOnOutsideClick]="false"
  [(visible)]="popupVisible"
>
  <div id="popup">
    <dx-form [formData]="formLocation" labelLocation="top">
      <dxi-item
        dataField="name"
        [label]="{ text: 'Nombre' }"
        [editorOptions]="{ maxLength: 50 }"
      >
        <dxi-validation-rule
          type="required"
          message="* Campo Requerido"
        ></dxi-validation-rule>
      </dxi-item>
      <dxi-item
        dataField="code"
        [label]="{ text: 'Codigo' }"
        [editorOptions]="{ maxLength: 50 }"
      >
        <dxi-validation-rule
          type="required"
          message="* Campo Requerido"
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        editorType="dxTagBox"
        dataField="users"
        [label]="{ text: 'Usuarios' }"
        [colSpan]="4"
        [editorOptions]="{
        dataSource: users,
        displayExpr: 'username',
        valueExpr: 'id',
        searchEnabled: true,
        multiple: true,
        
      }"
      >
        <dxi-validation-rule
          type="required"
          message="* Campo requerido "
        ></dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="comments"
        [label]="{ text: 'Comentarios' }"
        [editorOptions]="{ maxLength: 50 }"
      >
      </dxi-item>
    </dx-form>
    <div class="card-flex-box">
      <dx-button
        style="margin: 0 0 0 2rem"
        type="success"
        [text]="formLocation.id ? 'Actualizar' : 'Guardar'"
        (onClick)="save()"
      ></dx-button>
    </div>
  </div>
</dx-popup>
