<dx-popup
  [width]="widthsSpan.width"
  height="auto"
  title="Perfil Inventario"
  [showTitle]="true"
  position="center"
  [dragEnabled]="true"
  [showCloseButton]="true"
  [closeOnOutsideClick]="false"
  [(visible)]="popupVisible"
>
  <div id="popup">
    <dx-form [formData]="formInvertoryProfile" labelLocation="top">
      <dxi-item
        editorType="dxSelectBox"
        dataField="location"
        [label]="{ text: 'Ubicacion Actual' }"
        [colSpan]="4"
        [editorOptions]="{
          dataSource: locations,
          displayExpr: 'name',
          valueExpr: 'id',
          searchEnabled: true,
          multiple: false,
          
        }"
      >
        <dxi-validation-rule
          type="required"
          message="* Campo requerido "
        ></dxi-validation-rule>
      </dxi-item>
    </dx-form>
    <div class="card-flex-box">
      <dx-button
        style="margin: 0 0 0 2rem"
        type="success"
        [text]="formInvertoryProfile.id ? 'Actualizar' : 'Guardar'"
        (onClick)="save()"
      ></dx-button>
    </div>
  </div>
</dx-popup>
