<dx-popup
  [width]="widthsSpan.width"
  height="auto"
  maxHeight="98%"
  title="Transacción (Out)"
  [showTitle]="true"
  position="center"
  [dragEnabled]="false"
  [showCloseButton]="true"
  [closeOnOutsideClick]="false"
  [(visible)]="popupVisible"
  (onHidden)="onHidden()"
>
  <div>
    <dx-data-grid
      id="data"
      [dataSource]="transactions"
      keyExpr="id"
      [showBorders]="true"
      (onRowUpdated)="onRowUpdated($event)"
    >
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"
      ></dxo-pager>
      <dxo-editing
        mode="cell"
        [allowUpdating]="true"
        [allowDeleting]="false"
        [allowAdding]="false"
      >
      </dxo-editing>
      <dxi-column
        dataField="material"
        dataType="number"
        caption="Material"
        [allowEditing]="false"
        alignment="center"
        [minWidth]="450"
      >
        <dxo-lookup [dataSource]="materials" valueExpr="id" displayExpr="name">
        </dxo-lookup>
      </dxi-column>
      <dxi-column
        dataField="status"
        dataType="number"
        caption="Status"
        [allowEditing]="true"
        alignment="center"
        [minWidth]="70"
      >
        <dxo-lookup
          [dataSource]="status"
          valueExpr="id"
          displayExpr="status_name"
        >
        </dxo-lookup>
      </dxi-column>

      <dxi-column caption="Total trasl.">
        <dxi-column
          dataField="transaction_quantity"
          dataType="number"
          caption="Cant."
          [allowEditing]="true"
          alignment="center"
          [minWidth]="60"
        >
        </dxi-column>
        <dxi-column
          dataField="transaction_unit"
          dataType="number"
          caption="Unidad"
          [allowEditing]="true"
          alignment="center"
          [minWidth]="60"
          editCellTemplate="transaction_unit_template"
        >
          <dxo-lookup [dataSource]="units" valueExpr="id" displayExpr="name">
          </dxo-lookup>
        </dxi-column>
        <dxi-column
          dataField="conversion_factor"
          dataType="number"
          caption="Conversión"
          [allowEditing]="false"
          alignment="center"
          [minWidth]="75"
        >
        </dxi-column>
      </dxi-column>

      <dxi-column caption="Total">
        <dxi-column
          dataField="available_total_by_user"
          dataType="number"
          caption="Disponible"
          [allowEditing]="false"
          alignment="center"
          [minWidth]="60"
        >
        </dxi-column>
        <dxi-column
          dataField="base_quantity"
          dataType="number"
          caption="Traslado"
          [allowEditing]="false"
          alignment="center"
          [minWidth]="60"
        >
        </dxi-column>
        <dxi-column
          dataField="base_unit"
          dataType="number"
          caption="Unidad"
          alignment="center"
          [allowEditing]="false"
          [minWidth]="60"
        >
          <dxo-lookup [dataSource]="units" valueExpr="id" displayExpr="name">
          </dxo-lookup>
        </dxi-column>
      </dxi-column>
      <div *dxTemplate="let cellInfo of 'transaction_unit_template'">
        <dx-select-box
          valueExpr="from_unit"
          displayExpr="from_unit_name"
          [dataSource]="{
            store: unitConversions,
            filter: ['material', '=', cellInfo.data.material]
          }"
          [(value)]="cellInfo.data.transaction_unit"
          (onSelectionChanged)="onTransactionUnitChanged($event, cellInfo)"
        ></dx-select-box>
      </div>
    </dx-data-grid>

    <div class="card-flex-box">
      <dx-button
        style="margin: 0 0 0 2rem"
        type="success"
        text="Guardar"
        (onClick)="save()"
      ></dx-button>
    </div>
  </div>
</dx-popup>
